#mod___info________ {
  font-family: 'Inconsolata', sans-serif;
  font-size: 14px;
}

#mod___info________ p {
  font: 400 14px/1.2em 'Inconsolata', sans-serif;
  color: #666;
  text-decoration: none;
}

#mod___info________ a {
  color: #4183C4;
  text-decoration: none;
}

#mod___info________ a.absent {
  color: #cc0000;
}

#mod___info________ a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

#mod___info________ h1,
#mod___info________ h2,
#mod___info________ h3,
#mod___info________ h4,
#mod___info________ h5,
#mod___info________ h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}

#mod___info________ h2:first-child,
#mod___info________ h1:first-child,
#mod___info________ h1:first-child + h2,
#mod___info________ h3:first-child,
#mod___info________ h4:first-child,
#mod___info________ h5:first-child,
#mod___info________ h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

#mod___info________ h1:hover a.anchor,
#mod___info________ h2:hover a.anchor,
#mod___info________ h3:hover a.anchor,
#mod___info________ h4:hover a.anchor,
#mod___info________ h5:hover a.anchor,
#mod___info________ h6:hover a.anchor {
  text-decoration: none;
}

#mod___info________ h1 tt,
#mod___info________ h1 code {
  font-size: inherit;
}

#mod___info________ h2 tt,
#mod___info________ h2 code {
  font-size: inherit;
}

#mod___info________ h3 tt,
#mod___info________ h3 code {
  font-size: inherit;
}

#mod___info________ h4 tt,
#mod___info________ h4 code {
  font-size: inherit;
}

#mod___info________ h5 tt,
#mod___info________ h5 code {
  font-size: inherit;
}

#mod___info________ h6 tt,
#mod___info________ h6 code {
  font-size: inherit;
}

#mod___info________ h1 {
  font-size: 28px;
  color: black;
}

#mod___info________ h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black;
}

#mod___info________ h3 {
  font-size: 18px;
}

#mod___info________ h4 {
  font-size: 16px;
}

#mod___info________ h5 {
  font-size: 14px;
}

#mod___info________ h6 {
  color: #777777;
  font-size: 14px;
}

#mod___info________ p,
#mod___info________ blockquote,
#mod___info________ ul,
#mod___info________ ol,
#mod___info________ dl,
#mod___info________ li,
#mod___info________ table,
#mod___info________ pre {
  margin: 15px 0;
}

#mod___info________  hr {
  background: transparent url("http://tinyurl.com/bq5kskr") repeat-x 0 0;
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0;
}

#mod___info________ > h2:first-child {
  margin-top: 0;
  padding-top: 0;
}

#mod___info________ > h1:first-child {
  margin-top: 0;
  padding-top: 0;
}

#mod___info________ > h1:first-child + h2 {
  margin-top: 0;
  padding-top: 0;
}

#mod___info________ > h3:first-child,
#mod___info________ > h4:first-child,
#mod___info________ > h5:first-child,
#mod___info________ > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

#mod___info________ a:first-child h1,
#mod___info________ a:first-child h2,
#mod___info________ a:first-child h3,
#mod___info________ a:first-child h4,
#mod___info________ a:first-child h5,
#mod___info________ a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}

#mod___info________ h1 p,
#mod___info________ h2 p,
#mod___info________ h3 p,
#mod___info________ h4 p,
#mod___info________ h5 p,
#mod___info________ h6 p {
  margin-top: 0;
}

#mod___info________ li p.first {
  display: inline-block;
}

#mod___info________ ul,
#mod___info________ ol {
  padding-left: 30px;
}

#mod___info________ ul :first-child,
#mod___info________ ol :first-child {
  margin-top: 0;
}

#mod___info________ ul :last-child,
#mod___info________ ol :last-child {
  margin-bottom: 0;
}

#mod___info________ dl {
  padding: 0;
}

#mod___info________ dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

#mod___info________ dl dt:first-child {
  padding: 0;
}

#mod___info________ dl dt > :first-child {
  margin-top: 0;
}

#mod___info________ dl dt > :last-child {
  margin-bottom: 0;
}

#mod___info________ dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}

#mod___info________ dl dd > :first-child {
  margin-top: 0;
}

#mod___info________ dl dd > :last-child {
  margin-bottom: 0;
}

#mod___info________ blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777;
}

#mod___info________ blockquote > :first-child {
  margin-top: 0;
}

#mod___info________ blockquote > :last-child {
  margin-bottom: 0;
}

#mod___info________ table {
  padding: 0;
}
#mod___info________ table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}

#mod___info________ table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

#mod___info________ table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

#mod___info________ table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

#mod___info________ table tr th :first-child,
#mod___info________ table tr td :first-child {
  margin-top: 0;
}

#mod___info________ table tr th :last-child,
#mod___info________ table tr td :last-child {
  margin-bottom: 0;
}

#mod___info________ img {
  max-width: 100%;
}

#mod___info________ span.frame {
  display: block;
  overflow: hidden;
}

#mod___info________ span.frame > span {
  border: 1px solid #dddddd;
  display: block;
  float: left;
  overflow: hidden;
  margin: 13px 0 0;
  padding: 7px;
  width: auto;
}

#mod___info________ span.frame span img {
  display: block;
  float: left;
}

#mod___info________ span.frame span span {
  clear: both;
  color: #333333;
  display: block;
  padding: 5px 0 0;
}

#mod___info________ span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

#mod___info________ span.align-center > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: center;
}

#mod___info________ span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

#mod___info________ span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

#mod___info________ span.align-right > span {
  display: block;
  overflow: hidden;
  margin: 13px 0 0;
  text-align: right;
}

#mod___info________ span.align-right span img {
  margin: 0;
  text-align: right;
}

#mod___info________ span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left;
}

#mod___info________ span.float-left span {
  margin: 13px 0 0;
}

#mod___info________ span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right;
}

#mod___info________ span.float-right > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: right;
}

#mod___info________ code,
#mod___info________ tt {
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 3px;

  font: 400 13px/1.2em 'Inconsolata', sans-serif;
  color: #000;
  white-space: nowrap;
}

#mod___info________ pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

#mod___info________ .highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

#mod___info________ pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

#mod___info________ pre code,
#mod___info________ pre tt {
  background-color: transparent;
  border: none;
}
